footer {
    background-color: #fff;
    padding: 20px 0;
    color: #2c2b2b;
}

.footer-content {
    max-width: 100%; /* Juster bredden etter behov */
    margin: 0 auto;
    display: flex;
    flex-direction: row; /* Plasserer elementene fra venstre mot høyre */
    justify-content: space-between; /* Fordeler elementene jevnt langs hovedaksen */
    align-items: flex-start; /* Justerer elementene langs tverraksen til toppen */
    text-align: center; /* Sentrer teksten horisontalt */
}

.footer-logo img {
    max-width: 100px; /* Juster bredden etter behov */
}

.footer-links,
.footer-hours,
.footer-document {
    flex: 1; /* Deler tilgjengelig plass jevnt mellom elementene */
    margin: 0 10px; /* Legg til litt mellomrom mellom elementene */
}

.footer-links ul,
.footer-document ul {
    list-style: none;
    padding: 0;
    padding-top: 10px;
    margin: 0;
}

.footer-links li,
.footer-document li {
    margin-bottom: 10px; /* Legg til mellomrom mellom lenkene */
}

.footer-links a,
.footer-document a {
    text-decoration: none;
    color: #2c2b2b; /* Farge for lenker */
    font-weight: bold;
    font-size: 1.5vw;
}

.hours-header p {
    font-weight: bold;
    font-size: 1.5vw;
}

.hours-text {
    font-size: 1.5vw;
}