
@import url(/Semester-project_Discoverylab/CSS/styles.css);
@import url(/Semester-project_Discoverylab/CSS/header.css);
@import url(/Semester-project_Discoverylab/CSS/footer.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    padding: 10px;
    font-size: 5vw;
    color: white;
}

h2, p, button {
    margin-left: 60px;
}


/* Common Styles for Explore Sections */
.explore-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.text-container {
    position: relative;
    text-align: left;
    color: white;
    z-index: 1;
    background-size: cover;
}

.text-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(70%);
}

.explore-top, .explore-top_2, .explore-top_3, .explore-top_research{
    font-size: 4vw;
    padding: 40px;
    color: white;
}

.explore-sub {
    font-size: 2vw;
    width: 100%;
    padding-bottom: 60px;
}


.explore-sub,
.explore-text,
.explore-text_2,
.explore-text_3,
.explore-text_research {
    font-size: 2vw;
    width: 60%;
    line-height: 1.5;
    color: white;

}

button {
    margin: 50px;
    position: relative;
    text-decoration: none;
}

.cta-button:hover {
    background-color: #b8b8b8;
    color: rgb(0, 0, 0);
}

/* Explore Section 1 */
.text-container_top {
    background-image: url(/Semester-project_Discoverylab/Images/daniel-olah-dFA5XycbhoQ-unsplash.jpg);
    background-size: cover;
    z-index: 1;
}

.text-container_kids {
    background-image: url(/Semester-project_Discoverylab/Images/lenin-estrada-OI1ToozsKBw-unsplash.jpg);
    background-size: cover;
}


.text-container_teachers {
    background-image: url(/Semester-project_Discoverylab/Images/trnava-university-WGG4eD0rQmo-unsplash.jpg);
    background-size: cover;
}

.text-container_research {
    background-image: url(/Semester-project_Discoverylab/Images/grianghraf-g6YO_FyafLc-unsplash.jpg);
    background-size: cover;
}







