
@import url(/Semester-project_Discoverylab/CSS/styles.css);
@import url(/Semester-project_Discoverylab/CSS/header.css);
@import url(/Semester-project_Discoverylab/CSS/footer.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    padding: 10px;
    font-size: 5vw;
    color: white;
}

h2, p, button {
    margin-left: 60px;
}


/* Common Styles for Explore Sections */
.explore-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.text-container {
    position: relative;
    text-align: left;
    color: white;
    z-index: 1;
    background-size: cover;
}

.text-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(70%);
}

.explore-top, .explore-top_2, .explore-top_3, .explore-top_research{
    font-size: 4vw;
    padding: 40px;
    color: white;
}

.explore-sub {
    font-size: 2vw;
    width: 100%;
    padding-bottom: 60px;
}


.explore-sub,
.explore-text,
.explore-text_2,
.explore-text_3,
.explore-text_research {
    font-size: 2vw;
    width: 60%;
    line-height: 1.5;
    color: white;

}

button {
    margin: 50px;
    position: relative;
    text-decoration: none;
}

.cta-button:hover {
    background-color: #b8b8b8;
    color: rgb(0, 0, 0);
}

/* Explore Section 1 */
.text-container_top {
    background-image: url(/Images/daniel-olah-dFA5XycbhoQ-unsplash.jpg);
    background-size: cover;
    z-index: 1;
}

/* Explore Section 2 */
.text-container_kids {
    background-image: url(/Images/lenin-estrada-OI1ToozsKBw-unsplash.jpg);
    background-size: cover;
}

/* Explore Section 3 */
.text-container_teachers {
    background-image: url(/Images/trnava-university-WGG4eD0rQmo-unsplash.jpg);
    background-size: cover;
}

/* Explore Section 4 */
.text-container_research {
    background-image: url(/Images/grianghraf-g6YO_FyafLc-unsplash.jpg);
    background-size: cover;
}



/*@import url(/CSS/styles.css);
@import url(/CSS/header.css);
@import url(/CSS/footer.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.explore-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.text-container_top {
    background-image: url(/Images/daniel-olah-dFA5XycbhoQ-unsplash.jpg);
    background-size: cover;
}

.explore-top {
    margin-left: 3%;
    font-size: 4vw;
    margin-bottom: 5%;
}

.explore-sub {
    margin-left: 5%;
    font-size: 2vw;
    width: 70%;
}
.explore-text {
    font-size: 2vw;
    margin-top: 10%;
    margin-left: 5%;
    width: 60%;
    line-height: 2.5;
}

.cta-exhibitions button {
    margin: 5%;
    position: relative;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cta-exhibitions button:hover {
    background-color: #b8b8b8;
    color: rgb(0, 0, 0);
}

.text-container_kids {
    background-image: url(/Images/lenin-estrada-OI1ToozsKBw-unsplash.jpg);
    background-size: cover;
    position: relative;
    text-align: left; 
    color: white; 
    z-index: 1;
}

.explore-top_2 {
    display: flex;
    justify-content: center;
}

.explore-top_2 h2 {
    font-size: 4vw;
    margin: 5%;
}

.explore-text_2 {
    font-size: 2vw;
    margin-top: 5%%;
    margin-left: 5%;
    width: 60%;
    line-height: 2.5;
}

.cta-kids button {
    margin: 5%;
    position: relative;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cta-kids button:hover {
    background-color: #b8b8b8;
    color: rgb(0, 0, 0);
}

.text-container_teachers {
    background-image: url(/Images/trnava-university-WGG4eD0rQmo-unsplash.jpg);
    background-size: cover;
    position: relative;
    text-align: left; 
    color: white; 
    z-index: 1;
}

.explore-top_3 {
    font-size: 4vw;
    display: flex;
    justify-content: center;
}

.explore-text_3 {
    font-size: 2vw;
    margin-top: 5%;
    margin-left: 5%;
    width: 60%;
    line-height: 2.5;
}

.cta-teachers button {
    margin: 5%;
    position: relative;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cta-teachers button:hover {
    background-color: #b8b8b8;
    color: rgb(0, 0, 0);
}

.text-container_research {
    background-image: url(/Images/grianghraf-g6YO_FyafLc-unsplash.jpg);
    background-size: cover;
    position: relative;
    text-align: left; 
    color: white; 
    z-index: 1;
}

.explore-top_research {
    font-size: 4vw;
    display: flex;
    justify-content: center;
}

.explore-text_research {
    font-size: 2vw;
    margin-top: 5%;
    margin-left: 5%;
    width: 60%;
    line-height: 2.5;
}

.cta-researchers button {
    margin: 5%;
    position: relative;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
}


.explore-top h1,
.explore-top_2 h2,
.explore-top_3 h2,
.explore-top_research h2,
.explore-sub h2,
.explore-text p,
.explore-text_2 p,
.explore-text_3 p,
.explore-text_research p {
    color: white;
}



/*@import url(/CSS/styles.css);
@import url(/CSS/header.css);
@import url(/CSS/footer.css);

* {
    margin: 0;
}
  
.text-container_top {
    position: absolute;
    top: 50%;
    text-align: left; 
    left: 10%;
    color: white; 
    z-index: 1;
}

  
.explore-top {
    margin-left: 0%;
    font-size: 4vw;
    margin-bottom: 5%;
}

.explore-sub {
    font-size: 2vw;
    width: 70%;
}
.explore-text {
    font-size: 2vw;
    margin-top: 10%;
    width: 60%;
    line-height: 1.5;
}

.cta-exhibitions button {
    position: absolute;
    top: 160%;
    left: 10%;
    text-decoration: none;
}


.text-container_kids {
    position: absolute;
    top: 210%;
    text-align: left; 
    margin-left: 10%;
    color: white; 
    z-index: 1;
}
  
.explore-top_2 {
    margin-left: 0%;
    font-size: 2vw;
    margin-bottom: 5%;
}

.explore-top h2 {
    font-size: 3vw;
}

.explore-sub_2 {
    font-size: 2vw;
    width: 60%;
}

.explore-sub_2 p {
    font-size: 3vw;
    font-weight: bolder;
}

.explore-text_2 {
    font-size: 2vw;
    margin-top: 5%;
    width: 50%;
}

.explore-text_2 p {
    line-height: 1.7;
}

.cta-kids button {
    position: absolute;
    left: -3%;
    top: 340%;
    transform: translateX(100%);
    z-index: 1;
}


.text-container_teachers {
    position: absolute;
    top: 380%;
    left: 10%;
    text-align: left; 
    color: white; 
    z-index: 1;
}

.explore-top_3 {
    margin-left: 20%;
    font-size: 4vw;
    margin-bottom: 1%;
}

.explore-text_3 {
    font-size: 2vw;
    margin-top: 5%;
    width: 50%;
    line-height: 1.7;
    
}


.cta-teachers button {
    position: absolute;
    top: 460%;
    left: 10%;
    transform: translateY(100%);
}

.text-container_research {
    position: absolute;
    top: 560%;
    text-align: left; 
    margin-left: 10%;
    color: white; 
    z-index: 1;
}
  
.explore-top_research {
    margin-left: 10%;
    font-size: 4vw;
    
}

.explore-text_research {
    font-size: 2vw;
    margin-top: 5%;
    width: 30%;
    line-height: 1.7;
}


.cta-researchers button {
    position: absolute;
    top: 660%;
    left: -3%;
    transform: translateX(100%) translateY(100%);
}

@media screen and (min-width: 1526px) {
    .cta-exhibitions button {
        margin-top: 160%;
    }
}


@media screen and (min-width: 1366px) {
    .text-container_kids {
        position: absolute;
        top: 210%;
        text-align: left; 
        margin-left: 10%;
        color: white; 
        z-index: 1;
    }

    .explore-top_2 h2 {
        font-size: 5vw;
    }

    .explore-text_2 p {
        line-height: 1.5;
    }

    .cta-kids button {
        position: absolute;
        left: -3%;
        top: 210%;
        
    }
}

@media screen and (min-width: 1312px) {

    .explore-image img {
        height: 1000px;
    }
    .text-container_top {
      top: 15%;
      left: 10%;
    }

    .explore-top {
      font-size: 4vw;
    }

    .cta-exhibitions button {
        top: 55%;
        left: 10%;
    }

    .text-container_kids {
        position: absolute;
        top: 70%;
        width: 100%;
    }

    .explore-top_2 {
        font-size: 4vw;
    }
     
    .cta-kids button {
        position: absolute;
        left: -3%;
        top: 115%;
        transform: translateX(100%);
    }

    .text-container_teachers {
        top: 125%;
        left: 10%;
    }

    .explore-top_3 {
        font-size: 4vw;
    }

    .cta-teachers button {
        top: 155%;
        left: 10%;
        transform: translateY(100%);
    }

    .text-container_research {
        top: 175%;
        left: 0%;
    }

    .cta-researchers button {
        top: 210%;
        left: -3%;
        transform: translateX(100%) translateY(100%);
    }

}

@/*media screen and (min-width: 1025px) {
    .text-container_top {
      top: 15%;
      left: 10%;
    }
  
    .explore-top {
      font-size: 4vw;
    }

    .cta-exhibitions button {
        top: 50%;
        left:10%;
      }

      .text-container_kids {
        position: absolute;
        top: 70%;
        text-align: left; 
        margin-left: 10%;
        color: white; 
        z-index: 1;
    }
      
    .explore-top_2 {
        margin-left: 0%;
        font-size: 4vw;
        margin-bottom: 5%;
    }

    .cta-kids button {
        position: absolute;
        left: -3%;
        top: 113%;
        transform: translateX(100%);
        z-index: 1;
    }
    
    .text-container_teachers {
        top: 135%;
        left: 10%;
    }
    
    .explore-top_3 {
        margin-left: 0%;
        font-size: 4vw;
        margin-bottom: 1%;
    }
    
    .explore-text_3 {
        font-size: 2vw;
        margin-top: 5%;
        width: 50%;
        line-height: 1.9;
        
    }
    
    
    .cta-teachers button {
        top: 160%;
    }

    .text-container_research {
        top: 200%;
        width: 120%;
    }
    
    .explore-text_research {
        margin-top: 5%;
        width: 30%;
        line-height: 1.9;
    }
    
    
    
    .cta-researchers button {
        top: 230%;
        left: -5%;
        transform: translateX(100%) translateY(100%);
    }


  
    
  }*/
  

 /* @media screen and (max-width: 1024px) {
    .text-container_top {
      top: 15%;
      left: 5%;
    }
  
    .explore-top {
      font-size: 4vw;
    }
  
    .explore-sub {
      font-size: 2.5vw;
      width: 80%;
    }
  
    .explore-text {
      font-size: 2.5vw;
      margin-top: 7%;
      width: 70%;
      line-height: 1.6;
    }
  
    .cta-exhibitions button {
      top: 50%;
      left: 5%;
    }

    .text-container_kids {
        position: absolute;
        top: 60%;
        text-align: left; 
        margin-left: 10%;
        color: white; 
        z-index: 1;
    }
      
    .explore-top_2 {
        margin-left: 0%;
        font-size: 4vw;
        margin-bottom: 5%;
    }

    .cta-kids button {
        position: absolute;
        left: -5%;
        top: 100%;
        transform: translateX(100%);
        z-index: 1;
    }
    
    .text-container_teachers {
        position: absolute;
        top: 115%;
        left: 10%;
        text-align: left; 
        color: white; 
        z-index: 1;
    }
    
    .explore-top_3 {
        margin-left: 5%;
        font-size: 4vw;
        margin-bottom: 1%;
    }
    
    .explore-text_3 {
        font-size: 2vw;
        margin-top: 5%;
        width: 50%;
        line-height: 1.7;
        
    }
    
    
    .cta-teachers button {
        position: absolute;
        top: 140%;
        left: 10%;
        transform: translateY(100%);
    }

    .text-container_research {
        position: absolute;
        top: 165%;
        text-align: left; 
        margin-left: 10%;
        color: white; 
        z-index: 1;
    }
      
    .explore-top_research {
        margin-left: 0%;
        font-size: 4vw;
        
    }
    
    .explore-text_research {
        font-size: 2vw;
        margin-top: 5%;
        width: 30%;
        line-height: 1.7;
    }
    
    
    .cta-researchers button {
        position: absolute;
        top: 190%;
        left: -5%;
        transform: translateX(100%) translateY(100%);
    }
  
    
  }
  

  @media screen and (max-width: 600px) {
    .text-container_top {
      top: 10%;
      left: 5%;
    }
  
    .explore-top {
      font-size: 5vw;
    }
  
    .explore-sub {
      font-size: 3vw;
      width: 70%;
    }
  
    .explore-text {
      font-size: 3vw;
      margin-top: 8%;
      width: 80%;
      line-height: 1.7;
    }
  
    .cta-exhibitions button {
      top: 40%;
    }

    .text-container_kids {
        position: absolute;
        top: 55%;
        text-align: left; 
        margin-left: 10%;
        color: white; 
        z-index: 1;
    }
      
    .explore-top_2 {
        margin-left: 0%;
        font-size: 4.5vw;
        margin-bottom: 5%;
    }

    .cta-kids button {
        position: absolute;
        left: -15%;
        top: 90%;
        transform: translateX(100%);
        z-index: 1;
    }

    .text-container_teachers {
        top: 105%;
    }
    
    .explore-top_3 {
        margin-left: 0%;
        font-size: 4vw;
        margin-bottom: 14%;
    }
    
    .explore-text_3 {
        font-size: 2vw;
        margin-top: 5%;
        width: 50%;
        line-height: 2;
        
    }
    
    
    .cta-teachers button {
        top: 125%;
        left: 10%;
    }

    .explore-text_2 p {
        line-height: 2.5;
    }


    .text-container_research {
        width: 150%;
        position: absolute;
        top: 150%;
        
    }
      
    .explore-top_research {
        margin-left: 0%;
        font-size: 4vw;
        
    }
    
    .explore-text_research {
        font-size: 2vw;
        margin-top: 5%;
        width: 30%;
        line-height: 2;
    }
    
    
    .cta-researchers button {
        position: absolute;
        top: 175%;
        left: -16%;
        transform: translateX(100%) translateY(100%);
    }
}







